@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap');

*{
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}

body{
    padding:0;
    margin: 0;
}

.container{
   padding: 0 15%;
   margin: 0 20px;
   align-items: center;
   text-align: center;
}

.hero{
    padding-top: 170px;
    background-image: url("images/backgrounds/h_img.jpg");
    background-size: 100% 100%;
    height: 650px;
    color: #fff;
}

.hero h1{
    font-size: 40px;
}

.hero #mouse-click{
    padding-top: 70px;
}


.service-section{
    background-image: url("images/backgrounds/s_image.jpg");
    background-size: 100% 100%;
    height: 400px;
    color: #fff;
  padding-top: 100px;
}

.whatwedo #card-section{
     display: grid;
     grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
}

.whatwedo #card-section #description1 ,#description2, #description3 {
    display: none;
}


.portfolio .card-section{
    position: relative;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr)); 
    grid-gap: 20px;
}

.portfolio .card-section #work1 #img4, #work2 #img5 ,#work3 #img6 ,#work4 #img7 
,#work5 #img8,#work6 #img9 ,#work7 #img10 ,#work8 #img11{
    width: 100%;
    }


.portfolio .card-section #work1 #p1, #work2 #p2 ,#work3 #p3 ,#work4 #p4 ,#work5 #p5 ,#work6 #p6 ,#work7 #p7 ,#work8 #p8{
    display: none;
    position: relative;
    top:-50%;
    }


.portfolio .card-section #work1:hover, #work2:hover ,#work3:hover ,#work4:hover 
,#work5:hover,#work6:hover ,#work7:hover,#work8:hover{
    opacity: 0.6;
    }



.contact-section{
background-image: url('images/backgrounds/c_image.jpg');
background-size: 100% 100%;
height: 400px;
color:white;
}

input{
    margin-bottom: 10px;
    width: 30%;
    padding: 4px 4px;
    background-color: transparent;
    border: #fff 1px solid;
    color: #fff;
}

input:focus{
    outline: none;
}


textarea{
    width: 50%;
    min-height: 200px;
    padding: 10px;
    background-color: transparent;
    border: #fff 1px solid;
    color: #fff;
}

textarea:focus{
    outline: none;
}

#submit{
    width: 150px;
    padding: 5px 0px;;
    background-color: transparent;
    border: #fff 1px solid;
}

#submit:hover{
    background-color: rgb(199, 193, 181);
}

::placeholder {
    color: #fff;
   }


footer{
    padding-top: 40px;
}

@media only screen and (max-width: 760px){
    .container{
        padding: 0px 4%;
        margin: 0px;
    }

    .hero #mouse-click{
        padding-top: 0px;
    }

    .service-section{
       height: 500px;
    }

    input{
    width: 40%;
    }
    
    
    textarea{
        width: 60%;
    }
}