@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap');

*{
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}

body{
    padding:0;
    margin: 0;
}

.container{
   padding: 0 15%;
   margin: 0 20px;
   align-items: center;
   text-align: center;
}

.hero{
    padding-top: 170px;
    background-image: url("images/backgrounds/h_img.jpg");
    background-size: 100% 100%;
    height: 650px;
    color: #fff;
}

.hero h1{
    font-size: 40px;
}

.hero #mouse-click{
    padding-top: 70px;
}


.service-section{
    background-image: url("images/backgrounds/s_image.jpg");
    background-size: 100% 100%;
    height: 400px;
    color: #fff;
  padding-top: 100px;
}

.whatwedo #card-section{
     display: grid;
     grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
}

.whatwedo #card-section #description1 ,#description2, #description3 {
    display: none;
}


.portfolio .card-section{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
}

